/.env
/Arquivo executável
/Diretorios_Àudios_MP3
/Arquivo executável
/criar_Executavel
/Transcricao-De-Audio-TXT
/LOGS_ARQUIVOS
Reunião-​medium.txt
TranscricaoProducao.py
OldTranscricaoBotRegis.py
DESENVOLVIMENTO_02.py
/ffmpeg
/whisper_models
/whisper
app_log.txt
Arquivo executável.rar
setup.py
README.txt
arquivoDeLog.log
Modulo_De_Log.py
*.txt
/Áudio_Transcrito_em_Txt




